<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | panel</title>

    <style>
        .card {
            border-radius: 5px;
            padding: 10px;
            display: block;
            text-decoration: none;
            margin: 10px;
            height: 200px;
        }

        .flex-box-container {
            display: flex;
            justify-content: space-around;

        }

        .flex-box-item {
            width: 500px;
            margin: 10px;
            background-color: #9cc3d5ff;
            border: solid 2px rgb(14, 71, 104);


        }

        .flex-box-item:hover {
            background-color: white;
        }

        .card-title {
            font-size: larger;
            color: black;
        }

        .card-text {
            font-size: larger;
            color: black;
        }
    </style>

</head>

<body>

    <div class="flex-box-container">

        <div class="flex-box-item flex-box-item1">
            <a href="/admin/manageuser" class="card">
                <h5 class="card-title">Manage User</h5>
                <p class="card-text">see active users, update users, delete users </p>
            </a>
        </div>

        <div class="flex-box-item flex-box-item1">
            <a href="/admin/useractivities" class="card">
                <h5 class="card-title">User Activities</h5>
                <p class="card-text">see all users activities here.</p>
            </a>
        </div>

        <div class="flex-box-item flex-box-item1">
            <a href="/admin/userStorage" class="card">
                <h5 class="card-title">Storage Usage Of Users</h5>
                <p class="card-text">get storge space used by all users.</p>
            </a>
        </div>

        <div class="flex-box-item flex-box-item1">
            <a href="/admin/userfiles" class="card">
                <h5 class="card-title">User Files</h5>
                <p class="card-text">get files uploaded by users.</p>
            </a>
        </div>

    </div>

</body>

</html>