<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Manage Role</title>
    <link rel="stylesheet" href="/css/role.css">
    <style>
        input:focus {
            outline: none;
        }
    </style>
</head>

<body>
    <div id="main">
        <div class="role" style="width: 50%;">
            <table style="width: 100%">
                <tr>
                    <th>Remove Role</th>
                <tr>
                    <% removeRole.forEach( document=>{ %>
                <tr>
                    <td>
                        <form action="/admin/role" method="POST">
                            <input type="submit" value="-" style="color: red;">
                            <input type="text" name="role" value=<%=document %>>
                            <input type="text" hidden name="user_id" value=<%=User%>>
                            <input type="text" hidden name="action" value="removerole">
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>

        <div class="role" style="width: 50%;">
            <table style="width:100%">
                <tr>
                    <th>Add Role</th>
                </tr>
                <% addRole.forEach( document=>{ %>
                    <tr>
                        <td>
                            <form action="/admin/role" method="POST">
                                <input type="submit" value="+" style="color: green;">
                                <input type="text" name="role" value=<%=document %>>
                                <input type="text" name="user_id" hidden value=<%=User%>>
                                <input type="text" hidden name="action" value="addrole">
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
    </div>

</body>

</html>