<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | useractivities </title>
</head>

<body>

    <table>

        <tr>
            <th>user name</th>
            <th>file_name</th>
            <th>action</th>
            <th>time and date</th>
        </tr>


        <% useraction.forEach( document=>{ %>

            <tr>
                <th>
                    <%= document.username %>
                </th>
                <th>
                    <%= document.file_name %>
                </th>
                <th>
                    <%= document.action %>
                </th>
                <th>
                    <%= document.time %>
                </th>
            </tr>
            <% }) %>

    </table>

</body>

</html>