<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        ul {

            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-left: 2cm;
        }

        #head{

            text-align: center;
            /* margin-left: 11cm; */
            font-weight: 400;
            font-size: larger;

        }

    </style>
</head>

<body style="text-align: center;">

    <div style="padding: 20px; background-color: rgb(192, 28, 28); text-align: center;">

        <ul id="head" style="text-align: center;" >
            <li style="text-align: center;" > <%= errorMessage %></a></li>
        </ul>

    </div>

</body>

</html>