<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body style="background-color: lightcyan;">

    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="/images/login_icon.jpg" alt="Workflow">
                <h2 class="mt-6 text-center text-2xl font-extrabold text-gray-900">
                    Sign in to your account
                </h2>

            </div>
            <form id="mainform" class="mt-8 space-y-6" action="/homepage/login" method="POST">
                <!-- <input type="hidden" name="remember" value="true"> -->
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="email-address" class="sr-only">Email address</label>
                        <input id="username" name="username" type="text" autocomplete="email" required maxlength="20"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="User name">
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="userpassword" type="password" autocomplete="current-password"
                            required min="5" maxlength="10"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Password">
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="text-sm">
                        <div>
                            <p id="errormessage" style="margin-bottom: 3px; color: red; display: none;"> error message
                                here!!</p>
                        </div>
                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div>

                    <div style="background-color: white; margin-left: 4cm; border-radius: 5px;"><input
                            style="background-color: #0063b2ff; height: 35px; width: 4cm; border-radius: 5px; font-weight: bold; cursor: pointer; "
                            onclick="loginCredChecker()" type="button" value="Login"> </div>

                </div>
            </form>
            <div style="margin-top: 20px; display: flex;">
                New user ? <br> <a class="links" style="color: blue;" href="/homepage/register"> register here </a> </p>
                <span style="margin-left: 4.5cm;"> <a class="links" style="color: blue;" href="/admin/login"> Login as
                        Admin </a> </span>
            </div>


        </div>
    </div>

</body>

<script>

    function loginCredChecker() {

        let username = document.getElementById('username').value
        let password = document.getElementById('password').value

        let xhr = new XMLHttpRequest;

        xhr.onload = function () {
            // // document.getElementById('errormessage')

            if (this.response == '1') {
                document.getElementById('mainform').submit();
            } else if (this.responseText == 'nouser') {
                document.getElementById('errormessage').style.display = 'inline'
                document.getElementById('errormessage').innerHTML = 'this user does not exists!'
            } else if (this.responseText == 'nopassword') {
                document.getElementById('errormessage').style.display = 'inline'
                document.getElementById('errormessage').innerHTML = 'Password does not match!'

            } else if (this.responseText == 'noaccess') {
                document.getElementById('errormessage').style.display = 'inline'
                document.getElementById('errormessage').innerHTML = 'you dont have access to this application!'
            }

        }
        xhr.open('POST', `http://filehosternode.herokuapp.com/api/loginCheck?username=${username}&password=${password}`, true);
        // xhr.open('POST', 'http://localhost:8000/api/loginCheck', true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    }

</script>

</html>