<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFiles</title>
</head>

<body>


    <table>
        <% for(var i=0; i < files.length; i++) { %>
            <tr>

                <div style="border-style: solid; border-color: black; border-width: thin;">
                    <form action="/file/filedownload" method="POST" style="margin: 10px;">
                        <div>
                            <h2>
                                <%= files[i] %>
                            </h2>
                        </div>
                        <div style="margin: 5px;">
                            <input type="text" name="file" value="<%= files[i] %>" hidden>
                            <input type="submit" name="action" value="delete" style= "margin: 5px;">
                            <input type="submit" name="action" value="download">
                        </div>
                    </form>
                </div>

            </tr>
            <% } %>
    </table>

</body>

</html>