<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
    <link rel="stylesheet" href="/css/registerpage.css">
    <style> 
    button:hover{
        cursor: pointer; 
        background-color: rgb(102, 102, 204);
    }</style>

</head>

<body style="text-align: center; background-color: whitesmoke;">

    <div id="header">
        <h1 id="headertext">Personal Information</h1>
    </div>

    <div>

        <form action="/homepage/register" id="registrationform" method="POST">
            <div class="inputs">
                <div id="name">
                    <label for="Name" class="required"> Name </label>
                    <input type="text" name="name" required>
                </div>
            </div>

            <div class="inputs">
                <div id="username">
                    <label for="username" class="required"> Username </label>
                    <input type="text" id="inputusername" name="username" required>
                </div>
                <span id="spanforusername" style="  display: none; color: red; font-size: small; margin-left: 1.5cm;"
                    id="user"> user name
                    already exists ! try another one </span>
            </div>

            <div class="inputs">
                <div id="passworddiv">
                    <label for="userpassword" class="required"> Password </label>
                    <input type="password" name="userpassword" id="password" required>
                </div>
            </div>

            <div class="inputs">
                <div id="confirmPassword">
                    <label for="ConfirmPass" class="required">Confirm Password </label>
                    <input type="password" name="ConfirmPass" id="ConfirmPass" required>
                </div>
            </div>

            <div class="inputs">
                <div id="email">
                    <label for="useremail" class="required"> Email </label>
                    <input type="email" id="useremail" name="useremail" required>
                </div>
                <span id="spanforemail" style="display: none; color: red; font-size: small; margin-left: 1.5cm;"
                    id="user"> email
                    already registered !</span>

            </div>

            <div class="inputs">
                <div id="genderdiv">
                    <label id="gender" for="usergender"> Select Gender </label>
                    <select style="font-size: medium;" name="usergender">
                        <option value="male" selected>male</option>
                        <option value="female">female</option>
                    </select>
                </div>
            </div>

            <div class="inputs">
                <div id="age">
                    Age <input type="number" name="userage" required>
                </div>
            </div>

            <div class="inputs">
                <div id="address">
                    <label for="useraddress">Address</label>
                    <textarea name="useraddress" cols="30" rows="5" style="resize: none; " required></textarea>
                </div>
            </div>

                 <input style="display: none;" id="submit" type="submit"> 
            
        </form>
        <button style="width: 2cm; height: 0.7cm;" onclick="userCheck()"> Sign up </button>
        </div>

</body>
<script>

    function userCheck() {

        let confpass = document.getElementById("ConfirmPass").value
        let pass = document.getElementById("password").value
        if (confpass != pass) {
            alert('password must match !')
        } else {
            console.log('ajaxs called');
            var username = document.getElementById('inputusername').value
            var email = document.getElementById('useremail').value

            var xrh = new XMLHttpRequest();

            xrh.onload = async function () {

                if (this.status == 200 && this.readyState == 4) {
                    let result = await JSON.parse(this.response)

                    if (result.user === 1) {
                        document.getElementById('spanforusername').style.display = 'inline'
                    } else {
                        document.getElementById('spanforusername').style.display = 'none'
                    }

                    if (result.email === 1) {
                        document.getElementById('spanforemail').style.display = 'inline'
                    } else {
                        document.getElementById('spanforemail').style.display = 'none'
                    }

                    if (!result.user && !result.email) {
                        document.getElementById('submit').click()
                        return true;

                    }

                }
            }
        }

        //xrh.open('GET', `http://localhost:8000/api/userCheck?username=${username}&email=${email}`, true)
        xrh.open('GET', `http://filehosternode.herokuapp.com/api/userCheck?username=${username}&email=${email}`, true)
        xrh.send();

    }

</script>

</html>