<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload file</title>
    <link rel="stylesheet" href="/css/uploadFile.css">
    </link>
</head>

<body>
    <h2>Upload Files</h2>
    <div class="mainDiv">
        <div id="formDiv">
            <form id="form">
                <img id="img" src="/images/uploadImage.png" alt="upload files">
                <input type="file" required name="file" hidden />
            </form>
        </div>

        <div class="content">
            <span>filename.jpg</span>
            <span>uploading 50%</span>
            <div class="progressbar"></div>
        </div>

        <div class="content">
            <div>
                <span style="display: inline;">filename.jpg</span> <span style="display: inline; margin-left: 10px;">
                    <b>Done</b>
                </span>
            </div>
        </div>
    </div>
    </div>
</body>

<script src="/scripts/uploadFile.js"></script>

</html>