<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    //display two tables
    //1)here get json file of role from server and render roles with id and name minus sign
    //2)here show available roles and option to add role from available to users role plus sign
        

</body>
</html>